<h1>Editing Videogame</h1>

<%= render 'form', videogame: @videogame %> <br>

<%= link_to 'Show', @videogame, class: "btn btn-primary" %> |
<%= link_to 'Back', videogames_path, class: "btn btn-primary" %>
