<% if !user_signed_in? %>
  <div class="jumbotron">
  	<h1>Retro Video Game Reviews</h1>
  	<p>The <strong>best</strong> place to find your favourite video game reviews!</p>
  	<p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
  <% end %>


<div class="row">
  <% @videogames.each do |videogame| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
      	<%= link_to (image_tag videogame.image.url(:medium), class: 'image'), videogame %>
      </div>
    </div>
  <% end %>
</div> <!-- row -->

<%= will_paginate %>