// Place all the styles related to the Videogames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


@mixin transition($x) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -o-transition: $x;
  -ms-transition: $x;
  transition: $x;
}

@mixin box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}


html, body {
  width: 100%;
  height: 100%;
  background-size: cover!important;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ff8c6), color-stop(0%,#3fa8c6), color-stop(100%,#399ab2));
  background: -webkit-linear-gradient(top, #3fa8c6 0%,#3fa8c6 0%,#ff9ab2 100%);
  background: -moz-gradient(linear, left top, left bottom, color-stop(0%,#3ff8c6), color-stop(0%,#3fa8c6), color-stop(100%,#399ab2));
  background: -moz-linear-gradient(top, #3fa8c6 0%,#3fa8c6 0%,#ff9ab2 100%);
  background: -o-gradient(linear, left top, left bottom, color-stop(0%,#3ff8c6), color-stop(0%,#3fa8c6), color-stop(100%,#399ab2));
  background: -o-linear-gradient(top, #3fa8c6 0%,#3fa8c6 0%,#ff9ab2 100%);
  background: -ms-gradient(linear, left top, left bottom, color-stop(0%,#3ff8c6), color-stop(0%,#3fa8c6), color-stop(100%,#399ab2));
  background: -ms-linear-gradient(top, #3fa8c6 0%,#3fa8c6 0%,#ff9ab2 100%);  
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a {
    color: #3fa8c6;
    @include transition(all 0.5s ease-in-out);
      &:hover {
        color: #ff9ab2;
      }
}

.navbar-default .navbar-brand {
    font-family: 'Audiowide', cursive;
    color: #ff9ab2;
    @include transition(all 0.5s ease-in-out);
    &:hover {
      color: #3fa8c6;

    }
}

.jumbotron {
    padding-left: 60px;
    padding-right: 60px;
    background: #9affb5; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left, #9ae5ff , #9affb5); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #9ae5ff, #9affb5); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #9ae5ff, #9affb5); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, #9ae5ff , #9affb5); /* Standard syntax */
}

.panel-body {
    padding: 15px;
    background: #9affb5;
    background: -webkit-linear-gradient(left, #9affb5, #9ae5ff);
    background: -o-linear-gradient(right, #9affb5, #9ae5ff);
    background: -moz-linear-gradient(right, #9affb5, #9ae5ff);
    background: linear-gradient(to right, #9affb5, #9ae5ff);
}

h1, h2, h3 {
	font-family: 'Audiowide', cursive;
}

p {
  color: #fff;
  text-shadow: 0.5px 0.5px #3fa8c6;
  line-height: 1.8em;
}

.review_title {
	margin: 0 0 20px 0;
}
.reviews {
	padding: 15px 0;
	border-bottom: 1px solid #EAEAEA;
	.star-rating {
		padding-bottom: 8px;
	}
}

.btn-primary {
    color: #fff;
    background-color: #3fa8c6;
    @include transition(all 0.4s ease-in-out);
     &:hover {
       background-color: #ff9ab2;
       border: 1px solid #ff678b;
       color: #fff;
      
     }
}

.btn-success {
    color: #fff;
    background-color: #ff9ab2;
    @include transition(all 0.4s ease-in-out);
     &:hover {
       background-color: #3fa8c6;
       color: #fff;
      
     }
}

.recipe {
  background: white;
  border-radius: 5px;
  margin-bottom: 40px;
  @include box-shadow;
  .image_wrapper {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
 }

 .alert-danger {
    padding: 10px 28px 10px 28px;
    margin-bottom: 20px;
    border: 1px solid #ff9ab2;
    border-radius: 4px;
    background: #ff9ab2;
}